/vendor
/node_modules

/.env
/.env.*
!/.env.example

/.idea
/.vscode
/.phpunit.cache
/.phpunit.result.cache

/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep

/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
